:root {
  --background-color: #090c10;
  --text-color: #c9d1d9;
  --muted-text-color: #aaa;
  --placeholder-text-color: rgba(255, 255, 255, 0.7);
  --panel-background-color: #0d1117;
  --hover-color: #161b22;
  --dropdown-hover-color: #1f242c;
  --dropdown-active-color: #1f6feb;
  --dropdown-active-text-color: #c9d1d9;
  --border-color: #30363d;
  --lighter-background-color: #21262d;
  --disabled-background-color: #484f58;
  --font-family: 'Inter', sans-serif !important;
}
